<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="modal.dismiss()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="save()" color="light" fill="clear">
    Lưu
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item *ngFor="let item of list">
    {{item.name}}: {{level[module[item.module]]}}
    <ion-button size="small" shape="round" slot="start" color="warning" (click)="change(item.module, -1)"> Giảm quyền </ion-button>
    <ion-button size="small" shape="round" slot="end" color="secondary" (click)="change(item.module, 1)"> Tăng quyền </ion-button>
  </ion-item>
</ion-content>
