<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="rest.work.segment">
      <ion-segment-button value="undone"> Chưa hoàn thành </ion-segment-button>
      <ion-segment-button value="done"> Đã hoàn thành </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="rest.work.data[rest.work.segment].length">
    <ion-card *ngFor="let item of rest.work.data[rest.work.segment]; let i = index" [color]="item.color">
      <ion-card-content>
        <div style="float: right;">
          <ion-button *ngIf="rest.config.work > 0 && rest.work.segment == 'undone'" color="secondary" (click)="done(item['id'])" size="small">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button color="secondary" (click)="edit(i)" size="small">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" *ngIf="rest.config.work > 1" (click)="remove(item['id'])" size="small">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <div class="break"></div>
          <ion-button color="secondary" (click)="detail(item['id'])" size="small">
            chi tiết
          </ion-button>
        </div>
        <p> Nhân viên: {{item.name}} </p>
        <p> Tiến độ: {{item.process}}% </p>
        <p> Hạn chót {{item.calltime}} </p>
        <p> {{item.content}} </p>
        <p *ngIf="item.note.length"> Lý do: {{item.note}} </p>
      </ion-card-content>
    </ion-card>
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-text *ngIf="!rest.work.data[rest.work.segment].length" style="text-align: center;">
    Không có công việc nào
  </ion-text>


</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm CV </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="filterM()">
        <ion-icon name="filter-outline"></ion-icon>
        <ion-label> Tìm kiếm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="print()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label> In </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="notify()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label> Thông báo </ion-label>
        <ion-badge color="danger" *ngIf="rest.work.unread"> {{rest.work.unread}} </ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>