<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked"> Tìm theo tên thuốc - chỉ tiêu </ion-label>
    <ion-input [(ngModel)]="rest.drug.filter.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Công Dụng </ion-label>
    <ion-input [(ngModel)]="rest.drug.filter.effect"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="filter()">
    Tìm kiếm
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let item of rest.drug.list; let i = index">
      {{i + 1}}. {{item.name}}
      <ion-button slot="end" color="secondary" (click)="detail(i)">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" *ngIf="rest.config.drug > 1" color="danger" (click)="remove(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
