<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="rest.vaccine.status" (ionChange)="onSegmentChange()">
      <ion-segment-button value="0"> Chưa gọi </ion-segment-button>
      <ion-segment-button value="1"> Đã gọi </ion-segment-button>
      <ion-segment-button value="2"> Đã tái chủng </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <table border="1">
    <thead>
      <th> Tên chủ </th>
      <th> Số điện thoại </th>
      <th> Loại vaccine </th>
      <th> Ngày tái chủng </th>
    </thead>
    <tbody *ngFor="let item of rest.vaccine.data; let i = index" [class]="rest.vaccine.status != '2' ? item.color : ''">
      <tr>
        <td> {{item.name}} </td>
        <td> {{item.number}} </td>
        <td> {{item.vaccine}} </td>
        <td> {{item.calltime.datestring}} </td>
      </tr>
      <tr>
        <td colspan="2"> <ion-icon name="create-outline" (click)="note(i, item.id, item.note)"></ion-icon> {{item.note}} </td>
        <td colspan="2"> 
          <ion-button *ngIf="rest.vaccine.status != '2'" color="light" size="small" (click)="changeStatus(item.id)">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>  
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="filterM()">
        <ion-icon name="filter-outline"></ion-icon>
        <ion-label> Tìm kiếm </ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label> Thông báo </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
