table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 5px;
  font-size: 0.8em;
  height: 30px;
}

tbody {
  border-bottom: 2px solid black;
}

.red {
  background: lightsalmon;
  color: white;
}

.orange {
  background: pink;
}
