<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="filter()" color="light" fill="clear">
    Tìm kiếm
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-label position="stacked"> Tìm kiếm theo tên </ion-label>
    <ion-input [(ngModel)]="rest.expire.filter.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Khoảng thời gian  </ion-label>
    <ion-select [(ngModel)]="rest.expire.filter.time">
      <ion-select-option value="2592000"> 1 tháng </ion-select-option>
      <ion-select-option value="5184000"> 2 tháng </ion-select-option>
      <ion-select-option value="7776000"> 3 tháng </ion-select-option>
      <ion-select-option value="15552000"> 6 tháng </ion-select-option>
      <ion-select-option value="31536000"> 1 năm </ion-select-option>
      <ion-select-option value="63072000"> 2 năm </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
