<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="save()" color="light" fill="clear">
    Lưu
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-label position="stacked"> Bác sĩ đi cùng </ion-label>
    <ion-select [(ngModel)]="rest.ride.edit.doctorid">
      <ion-select-option *ngFor="let item of rest.list.employ" [value]="item.userid"> {{item.name}} </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Số đầu </ion-label>
    <ion-input [(ngModel)]="rest.ride.edit.from" (ionChange)="parsing('from')">  </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Số cuối </ion-label>
    <ion-input [(ngModel)]="rest.ride.edit.end" (ionChange)="parsing('end')">  </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Tiền thu </ion-label>
    <ion-input [(ngModel)]="rest.ride.edit.amount">  </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Địa điểm đến </ion-label>
    <ion-input [(ngModel)]="rest.ride.edit.destination">  </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Ghi chú </ion-label>
    <ion-input [(ngModel)]="rest.ride.edit.note">  </ion-input>
  </ion-item>
</ion-content>
