<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> Hóa chất </ion-card-header>
    <ion-card-content>
      <p> Lyse: {{rest.blood.number[1]}} (ML) </p>
      <p> Diluent: {{rest.blood.number[2]}} (L) </p>
      <p> Rinse: {{rest.blood.number[3]}} (L) </p>
    </ion-card-content>
  </ion-card>

  <table border="1">
    <tr>
      <th> Thời gian </th>
      <th> Mẫu </th>
      <th> Mục đích </th>
      <th> Người thực hiện </th>
    </tr>
    <tbody *ngFor="let item of rest.blood.list">
      <tr>
        <td> {{item.time}} </td>
        <td> {{item.number}} </td>
        <td> {{item.target}} </td>
        <td> {{item.doctor}} </td>
      </tr>
    </tbody>
  </table>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="import()">
        <ion-icon name="filter-outline"></ion-icon>
        <ion-label> Nhập hóa chất </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="statistic()">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label> Thống kê </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>