<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    Ngày hiện tại: {{rest.timetodate(rest.schedule.filter.time)}}
  </div>

  <ion-grid *ngIf="rest.config.schedule < 2">
    <ion-row>
      <ion-col> Thứ </ion-col>
      <ion-col> Ngày </ion-col>
      <ion-col> Trực sáng </ion-col>
      <ion-col> Trực tối </ion-col>
      <ion-col> Nghỉ sáng </ion-col>
      <ion-col> Nghỉ chiều </ion-col>
    </ion-row>
    <ion-row *ngFor="let data of rest.schedule.data; let i = index">
      <ion-col>
        {{ day[i] }}
      </ion-col>
      <ion-col>
        {{ data['time'] }}
      </ion-col>
      <ion-col (click)="reg(i, 0)" [class]="color[i][0]">
        {{ data.data[0].join(', ') }}
      </ion-col>
      <ion-col (click)="reg(i, 1)" [class]="color[i][1]">
        {{ data.data[1].join(', ') }}
      </ion-col>
      <ion-col (click)="reg(i, 2)" [class]="color[i][2]">
        {{ data.data[2].join(', ') }}
      </ion-col>
      <ion-col (click)="reg(i, 3)" [class]="color[i][3]">
        {{ data.data[3].join(', ') }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <table style="width: 100%; border-collapse: collapse;" border="1" *ngIf="rest.config.schedule > 1">
    <tr class="text-center" *ngIf="rest.schedule.data.length">
      <td>  </td>
      <td colspan="2"> T2 <br>  {{rest.schedule.data[0].day[0][1]}} </td>
      <td colspan="2"> T3 <br>  {{rest.schedule.data[0].day[1][1]}} </td>
      <td colspan="2"> T4 <br>  {{rest.schedule.data[0].day[2][1]}} </td>
      <td colspan="2"> T5 <br>  {{rest.schedule.data[0].day[3][1]}} </td>
      <td colspan="2"> T6 <br>  {{rest.schedule.data[0].day[4][1]}} </td>
      <td colspan="2"> T7 <br>  {{rest.schedule.data[0].day[5][1]}} </td>
      <td colspan="2"> CN <br>  {{rest.schedule.data[0].day[6][1]}} </td>
    </tr>
    <tr class="text-center">
      <td style="width: 30%;"> Họ tên </td>
      <td> S </td> <td> C </td>
      <td> S </td> <td> C </td>
      <td> S </td> <td> C </td>
      <td> S </td> <td> C </td>
      <td> S </td> <td> C </td>
      <td> S </td> <td> C </td>
      <td> S </td> <td> C </td>
    </tr>
    <tr *ngFor="let data of rest.schedule.data; let i = index">
      <td> {{data.name}} </td>
      <td (click)="reg2(i, 0, 2)" [class]="data.day[0][2]"> </td> <td (click)="reg2(i, 0, 3)" [class]="data.day[0][3]"> </td>
      <td (click)="reg2(i, 1, 2)" [class]="data.day[1][2]"> </td> <td (click)="reg2(i, 1, 3)" [class]="data.day[1][3]"> </td>
      <td (click)="reg2(i, 2, 2)" [class]="data.day[2][2]"> </td> <td (click)="reg2(i, 2, 3)" [class]="data.day[2][3]"> </td>
      <td (click)="reg2(i, 3, 2)" [class]="data.day[3][2]"> </td> <td (click)="reg2(i, 3, 3)" [class]="data.day[3][3]"> </td>
      <td (click)="reg2(i, 4, 2)" [class]="data.day[4][2]"> </td> <td (click)="reg2(i, 4, 3)" [class]="data.day[4][3]"> </td>
      <td (click)="reg2(i, 5, 2)" [class]="data.day[5][2]"> </td> <td (click)="reg2(i, 5, 3)" [class]="data.day[5][3]"> </td>
      <td (click)="reg2(i, 6, 2)" [class]="data.day[6][2]"> </td> <td (click)="reg2(i, 6, 3)" [class]="data.day[6][3]"> </td>
    </tr>
  </table>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="changeWeek(-1)">
        <ion-icon name="play-skip-back-circle-outline"></ion-icon>
        <ion-label> Tuần trước </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="changeWeek(1)">
        <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
        <ion-label> Tuần sau </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="register()">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label> Đăng ký </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
        <ion-label> Hủy </ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button (click)="notify()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label> Thông báo </ion-label>
        <ion-badge color="danger" *ngIf="rest.unread.kaizen"> {{rest.unread.kaizen}} </ion-badge>
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
