<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="modal.dismiss()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="insert()" color="light" fill="clear">
    Thêm
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">
        Nhân viên
      </ion-label>
      <ion-select [(ngModel)]="userid" style="max-width: 100% !important; width: 100%;">
        <ion-select-option *ngFor="let employ of rest.list.employ" [value]="employ['userid']">
          {{employ.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="fixed"> Nội dung </ion-label>
      <ion-input [(ngModel)]="content"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed"> Bắt đầu </ion-label>
      <ion-input [(ngModel)]="time.cometime" displayFormat="DD/MM/YYYY"></ion-input>
      <ion-thumbnail slot="end">
        <img src="assets/image/calendar.png">
        <ion-datetime [(ngModel)]="picker.cometime" displayFormat="DD/MM/YYYY" (ionChange)="datepicker('cometime')">
        </ion-datetime>
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label position="fixed"> Hạn chót </ion-label>
      <ion-input [(ngModel)]="time.calltime" displayFormat="DD/MM/YYYY"></ion-input>
      <ion-thumbnail slot="end">
        <img src="assets/image/calendar.png">
        <ion-datetime [(ngModel)]="picker.cometime" displayFormat="DD/MM/YYYY" (ionChange)="datepicker('cometime')">
        </ion-datetime>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
