<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="print()" color="light" fill="clear">
    <ion-icon name="print-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="download()" color="light" fill="clear">
    <ion-icon name="cloud-download-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
  <div id="printable">
    <div [innerHTML]="html" ></div>
  </div>
  <!-- <div class="underline">
    <div class="col-9">
      Chủ nuôi: {{rest.profile.data.customer}}
    </div>
    <div class="col-3">
      Sample ID: {{rest.profile.data.id}}
    </div>
  </div>

  <div class="underline">
    Địa chỉ: <b> {{rest.profile.data.address}} </b>
  </div>

  <div class="underline">
    <div class="col-8">
      Tên thú cưng: {{rest.profile.data.name}}
    </div>
    <div class="col-3">
      Cân nặng: {{rest.profile.data.weight}}
    </div>
  </div>

  <div class="underline">
    <div class="col-8">
      Tuổi: {{rest.profile.data.age}}
    </div>
    <div class="col-4">
      Giới tính: {{rest.profile.data.gender}}
    </div>
  </div>

  <div class="underline">
    <div class="col-8">
      Loài thú cưng: {{rest.profile.data.type}}
    </div>
    <div class="col-4">
      SampleID: {{rest.profile.data.id}}
    </div>
  </div>

  <div class="underline">
    <div class="col-8">
      Số serial: {{rest.profile.data.serial}}
    </div>
    <div class="col-4">
      Loại mẫu: {{rest.profile.data.sampletype}}
    </div>
  </div>

  <div class="underline">
    Số mẫu: <b> {{rest.profile.data.samplenumber}} </b>
  </div>

  <div class="underline">
    <div class="col-8">
      Kỹ hiệu mẫu: {{rest.profile.data.samplesymbol}}
    </div>
    <div class="col-4">
      Tình trạng mẫu: {{rest.profile.data.samplestatus}}
    </div>
  </div>

  <div class="underline">
    Bác sĩ: {{rest.profile.data.doctor}}
  </div>

  <div class="underline">
    Ngày kiểm tra: {{rest.timetodate((rest.profile.data.time))}}
  </div>

  <div style="margin-top: 10px;"></div>

  <div class="underline">
    Kết quả
  </div>
  
  <div class="underline">
    <div class="col-3">
      Chỉ tiêu
    </div>
    <div class="col-2">
      Kết quả
    </div>
    <div class="col-2">
      Đơn vị
    </div>
    <div class="col-2">
      Flag
    </div>
    <div class="col-3">
      Ref Range
    </div>
  </div>
  <div class="underline" *ngFor="let item of rest.profile.data.target">
    <div class="col-3">
      {{item.name}}
    </div>
    <div class="col-2">
      {{item.value}}
    </div>
    <div class="col-2">
      {{item.unit}}
    </div>
    <div class="col-2">
      {{item.tick}}
    </div>
    <div class="col-3">
      {{item.flag}}
    </div>
  </div> -->
</ion-content>
