<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of rest.admin.users; let i = index" (click)="detail(i)">
      {{user.username}}
    </ion-item>
  </ion-list>
</ion-content>
