<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="rest.vaccine.filterKey"> </ion-input>
  </ion-item>
  <ion-button color="light" fill="solid" expand="block" (click)="filter()">
    Tìm kiếm
  </ion-button>

  <table border="1">
    <thead>
      <th> Tên thú cưng </th>
      <th> Số điện thoại </th>
      <th> Loại vaccine </th>
      <th> Ngày tái chủng </th>
    </thead>
    <tbody *ngFor="let item of rest.vaccine.filter">
      <tr>
        <td> {{item.petname}} </td>
        <td> {{item.number}} </td>
        <td> {{item.vaccine}} </td>
        <td> {{item.calltime.datestring}} </td>
      </tr>
      <tr>
        <td colspan="2"> {{item.note}} </td>
        <td colspan="2" [class]="status.color[item.status]"> 
          {{status.name[item.status]}}
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>