table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 5px;
  font-size: 0.8em;
  height: 30px;
}

.red {
  color: red;
}

.yellow {
  color: orange;
}

.green {
  color: green;
}
