<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="rest.ride.selected">
      <ion-segment-button value="0"> Phiếu thu </ion-segment-button>
      <ion-segment-button value="1"> Phiếu chi </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div>
    Ngày hiện tại: {{rest.ride.current.datestring}}
  </div>

  <div [ngSwitch]="rest.ride.selected">
    <div *ngSwitchCase="'0'">
      <!-- phiếu thu -->
      <table border="1">
        <tr>
          <th> Thời gian </th>
          <th> Nhân viên </th>
          <th> Quãng đường </th>
          <th> Tiền thu </th>
        </tr>
        <tbody *ngFor="let item of rest.ride.list[rest.ride.selected]">
          <tr>
            <td> {{item.time}} </td>
            <td> {{item.name}} </td>
            <td> {{item.clock_from}} - {{item.clock_to}} ({{item.long}}km) </td>
            <td> {{item.amount}} </td>
          </tr>
          <tr>
            <td colspan="2"> {{item.destination}} </td>
            <td> {{item.note}} </td> 
            <td> 
              <ion-button color="danger" (click)="remove(item.id)" size="small">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngSwitchCase="'1'">
      <!-- phiếu chi -->
      <table border="1">
        <tr>
          <th> Thời gian </th>
          <th> Nhân viên </th>
          <th> Tiền chi </th>
        </tr>
        <tbody *ngFor="let item of rest.ride.list[rest.ride.selected]">
          <tr>
            <td> {{item.time}} </td>
            <td> {{item.name}} </td>
            <td> {{item.amount}} </td>
          </tr>
          <tr>
            <td colspan="2"> {{item.note}} </td>
            <td> 
              <ion-button color="danger" (click)="remove(item.id)" size="small">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ion-text *ngIf="!rest.ride.list[rest.ride.selected].length" style="text-align: center;">
    Không có bản ghi
  </ion-text>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="rest.navCtrl.pop()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label> Trở về </ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="insert()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label> Thêm phiếu </ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button (click)="changeDate(-1)">
        <ion-icon name="play-skip-back-circle-outline"></ion-icon>
        <ion-label> Hôm trước </ion-label>
      </ion-tab-button> -->

      <ion-tab-button (click)="pickDate()">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label> Chọn ngày </ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button (click)="changeDate(1)">
        <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
        <ion-label> Hôm sau </ion-label>
      </ion-tab-button> -->

      <ion-tab-button (click)="statistic()">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label> Thống kê </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>