<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="name" (keyup)="suggest()" #input> </ion-input>
    <ion-button slot="end" color="secondary" (click)="pick()"> chọn </ion-button>
  </ion-item>
  <div *ngIf="rest.expire.suggestList.length">
    <ion-item *ngFor="let item of rest.expire.suggestList" (click)="select(item.id, item.name)">
      {{item.name}}
    </ion-item>
  </div>
  <div *ngIf="!rest.expire.suggestList.length">
    <ion-item>
      Tìm kiếm mặt hàng
    </ion-item>
  </div>
</ion-content>