<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="rest.vaccine.suggest" (keyup)="suggest()" #input> </ion-input>
  </ion-item>
  <div *ngIf="rest.vaccine.suggestList.length">
    <ion-item *ngFor="let item of rest.vaccine.suggestList" (click)="select(item.name, item.phone, item.pet)">
      {{item.name}} - {{item.phone}}
    </ion-item>
  </div>
  <div *ngIf="!rest.vaccine.suggestList.length">
    <ion-item>
      Nhập số điện thoại hoặc tên khách
    </ion-item>
  </div>
</ion-content>