<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">
      THANHXUANPET
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="rest.router.navigateByUrl('/setting')">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-img src="assets/image/logo.png" class="logo" (click)="this.rest.router.navigateByUrl('/home')"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="rest.config.work > 0" class="box" (click)="rest.router.navigateByUrl('work')">
    <ion-img src="assets/image/work.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý công việc
      <ion-badge color="danger" slot="end" *ngIf="rest.work.unread"> {{rest.work.unread}} </ion-badge>
    </div>
  </div>

  <div *ngIf="rest.config.kaizen > 0" class="box" (click)="rest.router.navigateByUrl('kaimin')">
    <ion-img src="assets/image/kaimin.png" class="box-image"></ion-img>
    <div class="box-title">
      5 phút/Kaizen
      <ion-badge color="danger" slot="end" *ngIf="rest.kaizen.unread"> {{rest.kaizen.unread}} </ion-badge>
    </div>
  </div>

  <div *ngIf="rest.config.schedule > 0" class="box" (click)="rest.router.navigateByUrl('schedule')">
    <ion-img src="assets/image/schedule.png" class="box-image"></ion-img>
    <div class="box-title">
      Đăng ký lịch
    </div>
  </div>

  <div *ngIf="rest.config.vaccine > 0" class="box" (click)="rest.router.navigateByUrl('vaccine')">
    <ion-img src="assets/image/vaccine.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý vaccine
    </div>
  </div>

  <div *ngIf="rest.config.spa > 0" class="box" (click)="rest.router.navigateByUrl('spa')">
    <ion-img src="assets/image/spa.png" class="box-image"></ion-img>
    <div class="box-title">
      Danh sách spa
    </div>
  </div>

  <div *ngIf="rest.config.expire > 0" class="box" (click)="rest.router.navigateByUrl('expire')">
    <ion-img src="assets/image/expire.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý hạn sử dụng
    </div>
  </div>
  
  <div *ngIf="rest.config.blood > 0" class="box" (click)="rest.router.navigateByUrl('blood')">
    <ion-img src="assets/image/blood.png" class="box-image"></ion-img>
    <div class="box-title">
      Xét nghiệm máu
    </div>
  </div>

  <div *ngIf="rest.config.usg > 0" class="box" (click)="rest.router.navigateByUrl('usg')">
    <ion-img src="assets/image/usg.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý siêu âm
    </div>
  </div>

  <div *ngIf="rest.config.drug > 0" class="box" (click)="rest.router.navigateByUrl('drug')">
    <ion-img src="assets/image/drug.png" class="box-image"></ion-img>
    <div class="box-title">
      Tra cứu thuốc
    </div>
  </div>

  <div *ngIf="rest.config.profile > 0" class="box" (click)="rest.router.navigateByUrl('profile')">
    <ion-img src="assets/image/profile.png" class="box-image"></ion-img>
    <div class="box-title">
      Quản lý sinh hóa
    </div>
  </div>
</ion-content>