.tieuchi {
  overflow: auto;
  border-bottom: 1px solid lightgray;
  line-height: 2.5em;
  white-space: pre-wrap;
}
td, th {
  border: 1px solid gray;
}

table {
  border: 2px solid gray;
  margin-bottom: 20px;
}