<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.modal.dismiss()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="upload()"color="light" fill="clear">
    Thêm ảnh
  </ion-button>
  <ion-button slot="end" (click)="save()" color="light" fill="clear">
    Lưu
  </ion-button>
</ion-toolbar>

<ion-content>
  <div id="pwa" style="display: none;">
    <input type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>

  <ion-item>
    <ion-label position="stacked">
      Tình trạng: <span *ngIf="hoanthanh"> Hoàn thành </span> <span *ngIf="!hoanthanh"> Chưa hoàn thành </span>
    </ion-label>
    <ion-toggle slot="start" color="primary" [(ngModel)]="hoanthanh"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">
      Ghi chú/lý do chưa hoàn thành
    </ion-label>
    <ion-input [(ngModel)]="lydo"></ion-input>
  </ion-item>
  <ion-img *ngFor="let hinhanh of rest.fivemin.image; let i = index" [src]="hinhanh" (click)="remove(i)"></ion-img>
</ion-content>
