<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.modal.dismiss()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="!rest.drug.update" slot="end" (click)="insert()" color="light" fill="clear">
    Thêm thuốc
  </ion-button>
  <ion-button *ngIf="rest.drug.update" slot="end" (click)="update()" color="light" fill="clear">
    Cập nhật
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-label position="stacked"> Tên thuốc </ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Liều dùng </ion-label>
    <ion-textarea [(ngModel)]="limit" autoGrow="true"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Công dụng </ion-label>
    <ion-textarea [(ngModel)]="effect" autoGrow="true"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Tác dụng phụ </ion-label>
    <ion-textarea [(ngModel)]="sideeffect" autoGrow="true"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Cơ chế hoạt động </ion-label>
    <ion-textarea [(ngModel)]="mechanic" autoGrow="true"></ion-textarea>
  </ion-item>
</ion-content>