<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" *ngIf="rest.config.spa > 1" (click)="save()" color="light" fill="clear">
    Lưu
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item class="relative">
    <ion-label position="stacked"> Khách hàng </ion-label>
    <ion-input [(ngModel)]="rest.spa.edit.name" (click)="suggest('name')"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Số điện thoại </ion-label>
    <ion-input [(ngModel)]="rest.spa.edit.phone" (click)="suggest('phone')"> </ion-input>
  </ion-item>
  <ion-item *ngFor="let item of rest.spa.edit.type; let i = index">
    <ion-label> {{item.name}} </ion-label>
    <ion-checkbox slot="start" checked="false" [(ngModel)]="rest.spa.edit.type[i].value" checked="item.value">  </ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Ghi chú </ion-label>
    <ion-textarea [(ngModel)]="rest.spa.edit.note"></ion-textarea>
  </ion-item>

  <div class="box-list">
    <label class="box">
      <ion-thumbnail>
        <ion-img src="assets/image/insert.png"></ion-img>
        <input type="file" [(ngModel)]="files" #filechooser style="display: none;" accept="image/*">
      </ion-thumbnail>
    </label>

    <ion-label *ngFor="let image of rest.spa.edit.image; let i = index">
      <ion-thumbnail class="box" *ngIf="image.length" (click)="remove(i)">
        <ion-img [src]="image"></ion-img>
      </ion-thumbnail>
    </ion-label>
  </div>
</ion-content>