<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <!-- <ion-button slot="end" (click)="update()" color="light" fill="clear">
    Cập nhật
  </ion-button> -->
</ion-toolbar>

<ion-content>
  <div class="pad">
    <div class="hopthoaitieuchi" *ngFor="let tieuchi of dulieu; let i = index">
      <b> {{tieuchi.tieude}} </b> <br>
      <div class="tieuchi" *ngFor="let hang of rest.fivemin.data[tieuchi.ten]; let chimuc = index">
        {{hang.noidung}}
        <ion-button *ngIf="!hang.hoanthanh" size="small" color="secondary" shape="round" class="right" (click)="viewImage(tieuchi.ten, chimuc, hang.id)">
          chi tiết <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="hang.hoanthanh" size="small" color="danger" shape="round" class="right" (click)="viewImage(tieuchi.ten, chimuc, hang.id)">
          chi tiết <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
        <ion-icon *ngIf="hang.hinhanh.length" name="image-outline" class="right"></ion-icon>
      </div>
    </div>

    <div *ngIf="rest.fivemin.gopy.length" class="hopthoaitieuchi">
      <p class="text-center"> <b> Góp y </b> </p>
      <p class="error">
        {{rest.fivemin.gopy}}
      </p>
    </div>
  </div>
</ion-content>
