<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" (click)="save()" color="light" fill="clear">
    Lưu
  </ion-button>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-label position="floating"> Lyse: {{rest.blood.number[1]}} (ML) </ion-label>
    <ion-input [(ngModel)]="number[1]"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Diluent: {{rest.blood.number[2]}} (L) </ion-label>
    <ion-input [(ngModel)]="number[2]"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Rinse: {{rest.blood.number[3]}} (L) </ion-label>
    <ion-input [(ngModel)]="number[3]"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Số đầu </ion-label>
    <ion-input [(ngModel)]="total"></ion-input>
  </ion-item>
</ion-content>
