<ion-toolbar color="success">
  <ion-button color="light" fill="clear" (click)="this.rest.navCtrl.pop()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button slot="end" *ngIf="rest.config.drug > 1" (click)="update()" color="light" fill="clear">
    Cập nhật
  </ion-button>
</ion-toolbar>

<ion-content>
  <div class="pad">
    <div class="endline-text">
      <b>Tên:</b>  {{rest.drug.list[rest.drug.index].name}}
    </div>
    <div class="endline-text">
      <b>Liều dùng:</b> <br>
      {{rest.drug.list[rest.drug.index].limits}}
    </div>
    <div class="endline-text">
      <b> Công dụng: </b> <br>
      {{rest.drug.list[rest.drug.index].effect}}
    </div>
    <div class="endline-text">
      <b> Tác dụng phụ: </b> <br>
      {{rest.drug.list[rest.drug.index].sideeffect}}
    </div>
    <div class="endline-text end">
      <b> Cơ chế hoạt động: </b> <br>
      {{rest.drug.list[rest.drug.index].mechanic}}
    </div>
  </div>
</ion-content>